#app {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "opponent opponent opponent"
  "draw play crib"
  "self self self";
}

section {
  border: 2px solid black;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 1rem;
}

section.active {
  border: 4px solid green;
  background-color: lightgreen;
}

div > *:first-child {
  margin-top: 0;
}

#welcome {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: AliceBlue;
}

#opponent {
  grid-area: opponent;
}

#draw {
  grid-area: draw;
}

#play {
  grid-area: play;
}

#play div {
  border: 2px dashed grey;
  margin: 0 0 0.5rem 0;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

#crib {
  grid-area: crib;
  position: relative;
}

#crib img {
  position: absolute;
  top: 5rem;
  left: 0;
}

#self {
  grid-area: self;
}

h2 {
  font-family: "Bahnschrift Bold", "Helvetica Bold", "Arial Bold", sans-serif;
  margin-top: 0;
}

h3 {
  font-family: "Bahnschrift Bold", "Helvetica Bold", "Arial Bold", sans-serif;
  margin-bottom: 0.5rem;
}

.card {
  width: 100px;
  margin: 0.5rem;
}



.is-hidden {
  display: none;
}
